%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a#logo{href: "/"} Reminder
      %nav
        %ul.nav.pull-right
          %li
            %a{href: "/"} Home
          %li
            %a{href: "/news"} News
