!!!5
%html
  %head
    %title Reminder
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Bootstrap
    %link{:href => "css/bootstrap.min.css", :media => "screen", :rel => "stylesheet"}/
    %link{:href => "css/custom.css", :media => "screen", :rel => "stylesheet"}/
    %script{:src => "js/jquery-1.9.1.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/timeago.js"}
    %script{:src => "js/custom.js"}
  %body
    = haml :header
    .container
      = yield
      = haml :footer
